.cmtBtn{
    background-color: #800000;
    color:white;
    display:block;
    margin: 0px auto 60px;
    font-size: large;
    padding: 10px 50px;
}
.btn{
    background-color: #800000;
    color:white;
}
.listDiv{
    background-color: white;
    width: 90vw;
}
img{
    display: inline;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
p{
    padding: 10px 10px 0px 10px;
}
.list-entry{
    margin-bottom: 10px;
    margin-left: 10px;
}

#communityList{
    margin-bottom: 130px;
}
