body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#userNameText{
    text-align: center;
}

#userNameText{
    text-align: center;
}

#calendar{
    text-align: center;
    
}

#scheduleVisitBtn, #recommendGameBtn, .btn{
    background-color: #800000;
    color: white;
}

#placeholderCalendar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
}

#addevent_button{
    background-color: #800000;
    color: white;
}

@media (min-width: 650px) {
    #calendar{
        width: 70%;
    }
}