#profilePic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#twitterIcon, #discordIcon, #xboxIcon, #switchIcon, #playstationIcon, #steamIcon{
    border-radius: 50%;
    width: 38px;
    height: 38px;
}
/* #steamIcon{
    border-radius: 50%;
    width: 60px;
    height: 38px; 
} */

#userName{
    text-align: center;
}

#accountDiv{
    border-color: black;
    border-style: solid;
    border-width: 10px;
    background: rgb(151, 148, 148);
    margin: auto;
    width: 380px;
    height: 380px;
    font-size: .9em;
}
#editBtn{
    display: none;
}