#profilePic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#userName{
    text-align: center;
}

#accountDiv{
    border-color: black;
    border-style: solid;
    border-width: 10px;
    background: rgb(151, 148, 148);
    margin: auto;
    width: 350px;
    height: 350px;
}